argcomplete==3.4.0
asgiref==3.8.1
asn1crypto==1.5.1
attrs==23.2.0
babel==2.16.0
bcrypt==4.2.0
blinker==1.9.0
Brlapi==0.8.6
catfish==4.16.4
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
crit==4.0
cryptography==43.0.0
cupshelpers==1.0
dbus-python==1.3.2
distro==1.9.0
Flask==3.1.0
fuse-python==1.0.9
gyp-next==0.16.2
hatch-vcs==0.4.0
hatchling==1.24.2
html5lib==1.1
httplib2==0.20.4
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.3
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
kali-tweaks==2023.3.2
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lightdm-gtk-greeter-settings==1.2.3
louis==3.29.0
MarkupSafe==2.1.5
mechanize==0.4.10
netifaces==0.11.0
nftables==0.1
oauthlib==3.2.2
onboard==1.4.1
packaging==24.1
pathspec==0.12.1
pexpect==4.9.0
pipx==1.6.0
platformdirs==4.2.1
pluggy==1.5.0
protobuf==4.21.12
psutil==5.9.8
ptyprocess==0.7.0
pyasyncore==1.0.2
pycairo==1.26.1
pycriu==4.0
pycups==2.0.4
pycurl==7.45.4
PyGObject==3.50.0
pyinotify==0.9.6
PyJWT==2.7.0
pylibacl==0.7.0
pyOpenSSL==24.2.1
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5_sip==12.17.0
pysmbc==1.0.25.1
python-apt==2.9.8
python-debian==0.1.49
python-dotenv==1.0.1
pyxattr==0.8.1
pyxdg==0.28
referencing==0.31.0
requests==2.31.0
rfc3987==1.3.8
rpds-py==0.21.0
setuptools==70.3.0
setuptools-scm==8.0.4
simplejson==3.19.3
six==1.16.0
tornado==6.4
trove-classifiers==2024.1.31
typing_extensions==4.11.0
uritemplate==4.1.1
urllib3==1.26.18
userpath==1.9.1
wadllib==1.3.6
webcolors==1.11.1
webencodings==0.5.1
Werkzeug==3.1.3
wfuzz==3.1.0
wheel==0.43.0
xdg==5
